<appSettings>
  <add key ="GoogleAppId" value="1032360193840-8s8medt55envq8c8qjeajg0muejdsegv.apps.googleusercontent.com" />
  <add key ="GoogleAppSecret" value="v9SCISXs0yA9qONN_ktS04ZE" />
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>